# Web Framework & Production Server
flask==3.0.0
flask-cors==4.0.0
gunicorn==21.2.0

# Database Connections
pymongo==4.6.1

# Deep Learning & Computer Vision
tensorflow-cpu==2.15.0
tf-keras==2.15.0
numpy==1.26.4
Pillow==10.2.0
opencv-python-headless==4.9.0.80

# Utilities
python-dotenv==1.0.1